//npm.pkg.github.com/:_authToken=YOUR_TOKEN

@YOUR_ORG:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=YOUR_TOKEN

@ORG1:registry=https://npm.pkg.github.com
@ORG2:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=YOUR_TOKEN
